<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/SearchHeader.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

<head>
<meta charset="UTF-8">
<style type="text/css">
   table, th, td { border: solid 1px #080808; }
   #searchResult:{border: solid 1px;}
</style>
<title>index</title>
</head>
<div id="hiddenArea" hidden="true">
    <ul>
        <li id="initFlag" th:value="${SearchScreenForm.initFlag}" th:text="${SearchScreenForm.initFlag}">
    </ul>
</div>
<body>
    <h3 th:text="#{message.index.headerName}"></h3>
    <div class="formclass">
        <form name="searchConditon" action="/search">
            <input type="text" name="name">検索条件<br>
            <input type="checkbox">動物含む<br>
            <div>
                <input type="radio" checked="checked">male
                <input type="radio">female
            </div><br>
            <select name="area">
                <option th:each="province : ${SearchScreenForm.provinceList}" th:value="${province}" th:text="${province}"
                th:selected="${SearchScreenForm.area}==${province}?true:false">
            </select>
            <input type="submit" value="検索">
        </form>
    </div>
    <br><br>
    <div id="searchResult"><h2>検索結果</h2>
    <br><br>
    <div>
        <form action="/download" method="post">
            <input type="submit" id="csvDownload" value="download" >
        </form>
    </div>
        <table class="searchResultTable" id="searchResultTable">   
            <thead>
                <tr>
                <th th:text="#{message.index.tableheader1}"></th>
                <th th:text="#{message.index.tableheader2}"></th>
                <th th:text="#{message.index.tableheader3}"></th>
                <th th:text="#{message.index.tableheader4}"></th>
                <th th:text="#{message.index.tableheader5}"></th>
                <th th:text="#{message.index.tableheader6}"></th>
                <th th:text="#{message.index.tableheader7}"></th>
                <th th:text="#{message.index.tableheader8}"></th>
            </thead>
            <tbody>
                <tr th:each="tableRow : ${SearchScreenForm.searchScreenTables}">
                    <td ><a th:href="@{/detail(id=${tableRow.id})}" th:text="${tableRow.id}"></a></td>
                    <td th:text="${tableRow.username}"></td>
                    <td th:text="${tableRow.sex}"></td>
                    <td th:text="${tableRow.age}"></td>
                    <td th:text="${tableRow.area}"></td>
                    <td th:text="${tableRow.usertype}"></td>
                    <td th:text="${tableRow.money}"></td>
                    <td th:text="${tableRow.userdate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</body>
</html>